.orghunter-charity-search-result-charity .label {
  display: none;
}
.orghunter-charity-search-result-charity div.orghunter-charity-search-result-charity-status-revoked {
  color: #fff;
  background-color: #D40000;
  display: inline-block;
  padding: 2px 6px;
}
